/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.extreme-calc-button:hover {
  background-color: #fff !important;
  color: #198754 !important;
  border-color: #198754 !important;
}

.extreme-results-header {
  background-color: #198754 !important;
  color: #fff !important;
}

span.calc-results-badge {
  letter-spacing: 1px !important;
  font-size: 1rem !important;
}

span.calc-hr-headings {
  font-size: 19px !important;
  font-weight: 600 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  padding: 0 10px !important;
}

div.form-floating input.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #198754 !important;
}

@media only screen and (max-width: 450px) {
  span.calc-hr-headings {
    font-size: 16px !important;
  }
}