/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.extreme-calc-button:hover {
  background-color: #fff !important;
  color: #198754 !important;
  border-color: #198754 !important;
}

.extreme-results-header {
  background-color: #198754 !important;
  color: #fff !important;
}

.fa-question-circle-o {
  font-size: 24px !important;
  margin-top: 2px;
  font-weight: 700 !important;
  cursor: pointer;
}

.fa-question-circle-o:hover {
  transition: 0.1s;
  font-size: 23px !important;
  margin-top: 3px;
}

.skug_btns {
  background-color: #FF9100 !important;
  border-color: #FF9100 !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.skug_btns:hover {
  background-color: #ff9100cb !important;
  color: #fff !important;
}

.skug_btns2 {
  background-color: #ffffff !important;
  border-color: #FF9100 !important;
  font-weight: 600 !important;
  color: #FF9100 !important;
}

.skug_color_extra {
  background-color: #FF9100 !important;
  font-weight: 600 !important;
}

.skug_btns2:hover {
  background-color: #FF9100 !important;
  color: #ffffff !important;
}

span.calc-results-badge {
  letter-spacing: 1px !important;
  font-size: 1rem !important;
}

span.calc-hr-headings {
  font-size: 19px !important;
  font-weight: 600 !important;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  padding: 0 10px !important;
}

div.form-floating select.form-select {
  border-radius: 0px !important;
}

div.form-floating input.form-control:focus,
div.form-floating select.form-select:focus,
div.sku-gen-fields div input:focus,
div.sku-gen-fields div select:focus,
input[type="radio"][name="shopify_billing_method"]:focus,
input[type="radio"][name="shopify_card_method"]:focus,
input[type="radio"][name="credit_card_method"]:focus,
input[type="radio"][name="bc_billing_method"]:focus,
input[type="radio"][name="skrill_method"]:focus,
input[type="radio"][name="skrill_transfer_option"]:focus,
input[type="radio"][name="skrill_skrill_option"]:focus,
div.input-group input.form-control:focus,
select#shopify_currency:focus input[type="radio"]:active {
  box-shadow: none !important;
  border: 1px solid #198754 !important;
}

div.sku-gen-fields div input:focus,
div.sku-gen-fields div select:focus {
  box-shadow: none !important;
  border: 1px solid #FF9100 !important;
}

span.extreme-results-header div h4 {
  color: #fff;
}

.lftradioround {
  border-radius: 20px 0 0 20px !important;
}

.rtradioround {
  border-radius: 0 20px 20px 0 !important;
}

.items_list_div {
  height: 25rem !important;
  font-size: 0.85rem !important;
  overflow-y: scroll;
}

.fa-close:hover {
  cursor: pointer !important;
  transition: 0.3s;
  color: rgba(255, 0, 0, 0.6) !important;
}

.skrill-radio-item input[type=radio]:checked,
.bc-radio-item input[type=radio]:checked,
.shopify-radio-item input[type=radio]:checked {
  border-color: #198754 !important;
  background: #198754 !important;
}

.fa-check {
  color: #198754 !important;
  font-size: 1.35rem !important;
}

td i.fa-times {
  color: rgb(184, 0, 0) !important;
  font-size: 1.35rem !important;
}

.wec-fs-lh {
  font-size: 0.75rem !important;
  display: block;
  line-height: 15px !important;
}

.wec-fs-s2,
td a.bc_trynow,
td a.shopify_trynow {
  font-size: 0.85rem !important;
}


@media only screen and (max-width: 450px) {
  span.calc-hr-headings {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 991px) {
  .skug_mobile_upper {
    border-radius: 0 !important;
    border-top-right-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }

  .skug_mobile_lower {
    border-radius: 0 !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border: 0 !important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}